html{
    font-family:sans-serif;
    font-size:large;
    letter-spacing:0.5;
}

*{
    box-sizing:border-box;
}

:root{
    --base:#93a8ac;
    --highlights:#d7ceb2;
    --darks:#4c5760;
}

body{
    background-color:var(--base);
    margin-top:5%;
}

h4{
    margin-left:1rem;
}

p{
    padding:1rem 1.5rem;
    text-align:justify;
}

/*styling the display section*/
#display{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:left;
    float:right;
    width:50%;
}

#frame{
    height:75vh;
    max-height:600px;
    width:30vw;
    min-width:200px;
    border:20px solid;
    border-left-color:#704214;
    border-right-color:#704214;
    border-top-color:#654321;
    border-bottom-color:#654321;
    margin:auto;
}

#waves{
    height:100%;
    width:100%;
    object-fit: fill;
}

#museum-label{
    background-color:whitesmoke;
    width:30vw;
    padding:0.5em;
    border-radius:10px;
    font-size: 14;
}

.bold{
    font-weight:bold;
}

/*styling the navigation bar on top*/
nav{
   background-color:var(--highlights);
   display:flex;
   flex-flow:row nowrap;
   align-items: center;
   justify-content: space-between;
   height:5%;
   width:100%;
   position:fixed;
   top:0;
   left:0;
   z-index:3;
}

.navlink{
    list-style-type: none;
    display:inline-block;
    padding:0 1em;
}

#nav-list a{
    text-decoration: none;
    color: var(--darks);
}

.navlink:hover{
    font-weight:bold;
}

/*styling the about_me section*/

/*styling the learning_curve section*/
#learning_curve{
   float:left;
   width:50%;
}

#code_example{
    background-color:var(--darks);
    color:var(--highlights);
    display:block;
    padding:1rem;
    width:50%;
    border-radius:20px;
    overflow:auto;
    font-size:0.8rem;
}

#example_caption{
    width:50%;
    float:right;
}

.indent{
    padding-left:2em;
}

.indent-more{
    padding-left:4em;
}

.direct-link{
    text-decoration:none;
    color:black;
}

.direct-link:hover{
    color:var(--highlights);
}

/*styling the fun section*/