html{
    font-family:sans-serif;
    font-size:large;
    letter-spacing:0.5;
}

*{
    box-sizing:border-box;
}

:root{
    --base:#93a8ac;
    --highlights:#d7ceb2;
    --darks:#4c5760;
}

body{
    background-color:var(--base);
    margin-top:5%;
}

h4{
    margin-left:1rem;
}

p{
    padding:0.5rem 1.5rem;
    text-align:justify;
}

a{
    color:black;
}

/*styling the #frame and artwork*/
#frame{
    height:75vh;
    max-height:600px;
    width:moinmax(200px, 30vw);
    min-width:400px;
    border:20px solid;
    border-left-color:#704214;
    border-right-color:#704214;
    border-top-color:#654321;
    border-bottom-color:#654321;
    margin:auto;
}

#waves{
    height:100%;
    width:100%;
    object-fit: fill;
}

#museum-label{
    background-color:whitesmoke;
    width:minmax(400px, 30vw);
    padding:0.5em;
    border-radius:10px;
    font-size: 14;
}

.bold{
    font-weight:bold;
}
/*styling template sections template*/
.info{
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items:center;
    padding:1rem;
}

.heading{
    display:flex;
    flex-flow:row nowrap;
    align-items:baseline;
    background:var(--highlights);
    width:98vw;
}

button{
    background:transparent;
    border:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: 1em;
}

.content{
    display:flex;
    flex-flow:row nowrap;
    justify-items:space-between;
    align-items:center;
    margin:1em;
}

/*styling the learning_curve section*/
#code_example{
    background-color:var(--darks);
    color:var(--highlights);
    display:block;
    padding:1rem;
    border-radius:20px;
    overflow:auto;
    font-size:0.8rem;
    width: minmax(400px, 500px);
}

.indent{
    padding-left:2em;
}

.indent-more{
    padding-left:4em;
}

.direct-link{
    text-decoration:none;
    color:black;
}

.direct-link:hover{
    color:var(--highlights);
}

/*styling the effect of .hidden */
.hidden{
    height:90px;
    overflow:hidden;
}

@media screen and (max-width:900px){
    .content{
        flex-flow:column nowrap;

    }
}

/*styling the #fun section*/
#fun{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    animation: fade-in 5s;
}

#tarot{
    position:relative;
}

.card{
    position:absolute;
    top:5vh;
    left:5vw;
}

.card img{
    border-radius:20px;
}

.left{
    transform:rotate(-10deg);
}

.right{
    transform:rotate(10deg);
}

#invitation{
    font-size:3rem;
    width:30%;
}

#invitation a{
    text-decoration:none;
    color:var(--highlights)
}

@keyframes fade-in{
    from{
        opacity:0%;
    };

    to{
        opacity:100%;
    }
}